.results-mask {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

#search-field {
  color: #fff;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  height: 40px;
  width: 150px;
  padding: 0 10px;
  font-size: 16px;
}

#search-submit {
  height: 40px;
  width: 40px;
  display: inline-block;
  background: url("../search.svg") no-repeat center center;
  background-size: auto 22px;
  vertical-align: middle;
  cursor: pointer;
}

#results {
  color: #000;
  position: fixed;
  max-height: 600px;
  width: 600px;
  overflow-y: auto;
  top: 20px;
  left: 50%;
  margin-left: -300px;
  margin-top: 100px;
  z-index: 1000;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
}
#results a {
  color: #000;
}

#results h2 {
  padding: 15px 0;
  border-bottom: 1px dashed #aaa;
  margin: 0;
}

#results h2.title {
  text-align: center;
}

#results span {
  margin-left: 10px;
  color: #aaa;
  font-size: 12px;
}
