#TOC {
  width: 300px;
  font-size: 14px;
  position: fixed;
  top: 110px;
  bottom: 50px;
  overflow-y: hidden;
}

#TOC .title {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 20px
}

#TOC ol {
  padding: 0;
}

#TOC ol li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}